body{
font-family: Arial, Helvetica, sans-serif;
color: white;
background-image: url('Coffee-bean-background.jpg');
}
a {
color: black;
text-decoration: none;
padding: 14px 20px;
}

h1 {
color: saddlebrown;
font-size: 70px;
font-family: 'Times New Roman', Times, serif;
text-align: center;
margin-top: 20px;
}
h2 {
color: white;
font-family: 'Times New Roman', Times, serif;
padding-top: 40px;

font-size: 40px;
color: rgb(215, 166, 103);
text-align: center;
}
h3 {
color: black;
font-family: 'Times New Roman', Times, serif;
font-style: bold;
}
.button {
background-color: rgb(122, 60, 16);
border: 4px solid black;
border-radius: 12px;
color: white;       
padding: 10px 24px;
}









.navbar {
overflow: hidden;
background-color: #333;
padding: 20px 0;        /* controls top and bottom spacing */
max-width: 1600px;   /* controls how narrow the navbar becomes */
margin: 0 auto;     /* centers the navbar with space on sides */    
}

.navbar a {
float: left;
font-size: 16px;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}


.navbar a:hover, .dropdown:hover .dropbtn {
background-color: red;
}














/* Flexbox Container */
.container {
  display: flex; /* enables flexbox layout */
  flex-wrap: wrap; /* allows items to wrap to next line */
  justify-content: center; /* centers items horizontally */
  padding: 20px;
  gap: 20px;
  max-width: 1100px;
  margin: 0 auto;
}
/* Flexbox img layout */
.container img{
  width: 200px; /* same width for all pictures */
  height: 150px; /* same height for all pictures */
  object-fit: cover;  /* crops so it fits perfectly in felx box*/
  margin: 30px;
}
/* Flexbox div layout */
.container div{
  color: white;
  padding: 20px;
  border-radius: 50px;
}
.container > div > p:first-child {
  background-color: lightslategray; 
  color: black;
  padding: 8px 14px;
  border-radius: 6px;
  margin-bottom: 12px; /* space between text and image */
  text-align: center;
  border-radius: 12px;
 margin: -20px;
}
.daybreak {
  object-fit:contain;
  transform: scale(1.8);
}
.bravo {
  object-fit:contain;
  transform: scale(1.4);
}
.container > div > p.desc {
  color: white;
  width: 200px;
  padding: 10px 14px;
  border-radius: 12px;
  text-align: center;
  line-height: 1.25;
  margin-top: -20px;
  font-size: 15px;
}
.price-table {
  width: 200px;              /* match your desc width or image width */
  margin-top: 12px;
  background: blanchedalmond;
  border-radius: 10px;
  padding: 8px;
  text-align: center;
  border-collapse: collapse;
  
}

.price-table td {
  padding: 6px 0;
  color: black;
  font-size: 15px;
  border-bottom: 1px solid rgba(0,0,0,0.15);
}

.price-table tr:last-child td {
  border-bottom: none;      /* remove last line */
}















.header {
  background-image: url('Stain.jpg');
  background-repeat: repeat;
  background-size: 350px;
  padding: 20px 0;        /* controls top and bottom spacing */
  max-width: 1600px;   /* controls how narrow the header becomes */
  margin: 0 auto;     /* centers the header with space on sides */

  /* Grid layout for header */
  display: grid;
 grid-template-columns: 1fr auto; /* two columns: title and logo */
 align-items: center;              /* vertically center items */

}
.header h4 {
  margin-top: -40px;
  text-align: center;
  color: saddlebrown;
}

.banner h2 {
  margin-top: 0;
}

.banner {
background-color: darkolivegreen;
color: white;
font-family: 'Times New Roman', Times, serif;
text-align: center;
font-size: 25px;
  max-width: 1600px;   /* controls how narrow the banner becomes */
  margin: 0 auto;     /* centers the banner with space on sides */
}


.top-right {
  max-width: 120px;   /* make the logo scale nicely */
  height: auto;
}
.footer a{
color: white;
font-family: 'Times New Roman', Times, serif;
}
